<!-- String Interpolation title = component.ts -->
<input type="text" [(ngModel)]="title" /> {{ title }}

<!-- Condicional ngif-->
<div *ngIf="title !== 'Erick'">
    este es un div
</div>

<!-- Bucle ngFor items = component.ts -->
<button (click)="addItem()">Agregar item</button>
<ul>
    <li *ngIf="items.length === 0">La lista esta vacía</li>
    <li *ngFor="let nombre of items; index as i">
        {{ nombre}} {{i}}
        <button (click)="deleteItem(i)">Delete</button>
    </li>
</ul>

<!-- Recorrer mediante la interfaz product -->
<div *ngFor="let product of products">
    {{product.title }}
    <img [src]="product.image" alt=""> {{product.price }} {{product.description }}
</div>

<!-- Ng switch -->
<div [ngSwitch]="title">
    <p *ngSwitchCase="'Erick'">este es Erick</p>
    <p *ngSwitchCase="'Andres'">este es Andres</p>
    <p *ngSwitchCase="'Armando'">este es Armando</p>
    <p *ngSwitchDefault>no hay match</p>
</div>

<!-- Utilizacion de componentes externos-->
<app-product></app-product>